<div class="nav-bar">
  <!-- <a href="#" class="active"><i class="fa fa-home"></i></a>
  <a href="#" [routerLink]="'/video-player'">Video Player</a>
  <a href="#" [routerLink]="'/portfolio'">Portfolio</a> -->
  <a href="#" [routerLink]="'/html'"  [routerLinkActive]="['is-active']">HTML</a>
  <a href="#" [routerLink]="'/css'" [routerLinkActive]="['is-active']">CSS</a>
  <a href="#" [routerLink]="'/js'" [routerLinkActive]="['is-active']">Javascript</a>
  <a href="">Jquery</a>
  <a href="">Angular</a>
  <a href="">Ionic</a>
</div>
