.nav-bar{
  background-color: #000;
  width: 100%;
  overflow: hidden;
  position: sticky;
  z-index: 9999;
  top: 0;
}

.nav-bar a{
  float: left;
  text-align: center;
  width: auto;
  margin-left: 17px;
  padding: 9px 7px;
  font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.nav-bar a:hover{
  background-color: teal;
}


