<div style="    margin: 25px 5%;">
  <mat-accordion [multi]="true" #accordian="matAccordion">
      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title class="que">
                <h5  mat-line class="panel-margin">Purpose of meta|viewport and doctype?</h5>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div style="font-size: 15px;
            line-height: 24px;">

            </div>


      </mat-expansion-panel>
  </mat-accordion>
  </div>
