/*
  darkgrey: rgb(30, 30, 30);
  lightgrey: rgb(70, 70, 70);
  lightBlue: rgb(50, 170, 220)
*/

#player{
  margin-top: 44px;
  margin-left: 29%;
  background-color: rgb(30, 30, 30);
  display: inline-block;
}

.icon{
  font-size: 30px;
  background-color: rgb(70, 70, 70);
}

#video-container{
  width: 640px;
  height: 360px;
}

video{
  height: 100%;
  width: 100%;
}

#pbar-container{
  margin-top: 2px;
  padding-bottom: 2px;
  background-color: rgb(70, 70, 70);
}

#pbar{
  height: 5px;
  width: 50px;
  background-color: rgb(50, 170, 220);
}

#button-container{
  height: 34px;
}

#button-container > * {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin: 0 10px;
  outline: 1px solid red;
}

#time-field{
  color: rgb(50, 170, 220);
  line-height: 50px;
}

#sbar-container{
  width: 100px;
  height: 5px;
  background-color: rgb(70, 70, 70);
}
