/*
  darkgrey: rgb(30, 30, 30);
  lightgrey: rgb(70, 70, 70);
  lightBlue: rgb(50, 170, 220)
*/

#player{
  margin-top: 44px;
  margin-left: 29%;
  background-color: rgb(30, 30, 30);
  display: inline-block;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.icon{
  font-size: 30px;
  position: relative;
  top: -8px;
  color: rgb(50, 70, 70);
}

.icon, #pbar-container, #sbar-container{
  cursor: pointer;
}

.icon:hover{
  color: rgb(50, 170, 220);
}

#video-container{
  width: 640px;
  height: 360px;
}

video{
  height: 100%;
  width: 100%;
}

#pbar-container{
  margin-top: 2px;
  padding-bottom: 2px;
  background-color: rgb(70, 70, 70);
}

#pbar{
  height: 5px;
  width: 0px;
  background-color: rgb(50, 170, 220);
}

#button-container{
  height: 34px;
}

#button-container > * {
  display: inline-block;
  /* height: 100%; */
  vertical-align: middle;
  margin: 0 10px;
  /* outline: 1px solid red; */
}

#time-field{
  color: rgb(50, 170, 220);
  line-height: 50px;
  position: relative;
    top: -6px;
    cursor: default;
}
#sound-button{
  margin-right: 0px;
}
#sbar-container{
  margin-left: 0px;
  width: 100px;
  height: 5px;
  position: relative;
    top: -6px;
  background-color: rgb(70, 70, 70);
}

#sbar{
  height: 100%;
  width: 50%;
  background-color: rgb(50, 170, 220);
}

#screen-button{
  float: right;
  font-size: 25px;
  position: relative;
  top: 4px;
}
