<div>
  <div id="player">
     <div id="video-container">
        <video poster="assets/images/thumbnail.jpg">
          <source src="assets/images/WaterLilies.mp4">
            It seems your browser doesn't support HTML5 video tag please update
      </video>
     </div>
     <div id="pbar-container">
       <div id="pbar">

       </div>
     </div>
     <div id="button-container">
        <i id="play-button" class="fa fa-play icon"></i>
          <div id="time-field">
            0:00 / 0:00
          </div>
          <i id="sound-button" class="fa fa-volume-up icon"></i>
          <div id="sbar-container">
            <div id="sbar"></div>
          </div>
          <i id="screen-button" class="fa fa-expand icon"></i>
     </div>
  </div>

</div>
