<section class="about" id="about">
    <div class="max-width">
      <h2 class="title">
        About me
      </h2>

      <div class="about-content">
        <div class="column left">
          <img src="assets/images/img-2.jpg" alt="">
        </div>
        <div class="column right">
          <div class="text">
            I'm Priti and I'm a <span>Software Developer</span>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur convallis, orci vitae consectetur laoreet, augue leo dictum orci, sed iaculis ipsum quam et ex. Cras ultricies vehicula enim, at dapibus sem mollis a. Ut consectetur, eros a molestie blandit, mauris quam dignissim risus, et sagittis sapien quam eu nisl. Fusce interdum ultricies diam, nec maximus ipsum euismod id. Vivamus eleifend lorem eget metus malesuada tristique. Duis erat tellus, pharetra a placerat id, faucibus tempor augue. Nulla facilisi. Suspendisse vel pulvinar arcu</p>
       <a href="#">Download CV</a>
        </div>
      </div>
    </div>
</section>
