<div style="    margin: 30px 14%;
width: 73%;">
    <mat-accordion [multi]="true" #accordian="matAccordion">
        <mat-expansion-panel *ngFor="let list of htmlQueAns; let index= index">
            <mat-expansion-panel-header>
                <mat-panel-title class="que">
                  <h5  mat-line class="panel-margin">{{list.que}}</h5>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div style="font-size: 15px;
              line-height: 24px;" [innerHTML]="list.desc">
              </div>

              <img *ngIf="list.img" [src]="list.img" alt="que-image" />
        </mat-expansion-panel>
      </mat-accordion>
</div>


